body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.gray {
  color: #ababab;
}

.fixed {
  position: fixed;
}

.sideDrawer-container {
  z-index: 3;
}

.sideDrawer {
  position: fixed;
  background-color: white;
  width: 30vw;
}

.closed {
  transform: translate(-100%);
}

.open {
  transform: translate(0);
}

.backDrop {
  width: 100px;
  height: 90vh;
  position: fixed;
  z-index: 10;
}

.moveRight {
  transform: translate(calc( 30vw + 10px ));
}

.primary-navigation {
  display: grid;
  width: 100%;
  top: 30px;
  grid-template-columns: 40% 40%;
  grid-column-gap: 20%;
  z-index: 10;
}
.primary-navigation a {
  color: #fff;
}
.primary-navigation .search img {
  width: 1.6em;
}

.menu-btn {
  text-align: center;
}

.rest-btns {
  display: flex;
  justify-content: flex-end;
}
.rest-btns div {
  margin: 0 2em;
  padding: 10px;
}
.rest-btns .register {
  border: 2px solid rgba(232, 232, 232, 0.7);
  border-radius: 4px;
}

.video-part {
  text-align: right;
  z-index: 2;
}
.video-part video {
  max-height: 65vh;
  object-fit: fill;
}

.video-title {
  position: absolute;
  margin-left: calc(10vw + 20px);
  padding-top: 30px;
  color: white;
  text-align: left;
  font-size: 2em;
  z-index: 2;
  display: grid;
  grid-template-columns: 10% 90%;
}
.video-title div {
  align-self: center;
}

.sideDrawer {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 15% 45% 40% 5%;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.sideDrawer li {
  width: 95%;
  word-break: break-word;
}

.primary-nav {
  /* grid-area: 1 / 1 / 2 / 2;  */
  grid-area: 1/2/2/2;
}
.primary-nav a {
  font-size: 1em;
}
.primary-nav h5 {
  margin-bottom: 40px;
  margin-top: 0;
}
.primary-nav li {
  font-size: 2em;
  line-height: 2;
}

.logo {
  margin-left: 15px;
  position: fixed;
  z-index: 5;
}
.logo img {
  width: 48px;
}

.drawer-control {
  position: absolute;
  grid-area: 1/4/4/4;
  width: 100px;
  margin-left: -40px;
  background-color: white;
  z-index: 5;
  height: 100vh;
}
.drawer-control div {
  position: absolute;
  top: 45vh;
  left: 35px;
}
.drawer-control.active {
  animation-name: late-effect;
  transition: solid 1s ease-in-out;
}

@keyframes late-effect {
  0% {
    left: -20px;
  }
  100% {
    left: 0;
  }
}
.secondary-nav {
  grid-area: 1/3/2/3;
}
.secondary-nav h5 {
  margin-bottom: 40px;
  margin-top: 0;
}
.secondary-nav li {
  font-size: 1.2em;
  line-height: 1.7;
}

.tertiary-nav {
  grid-area: 2/2/3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 20%;
}
.tertiary-nav li {
  font-size: 0.9em;
  line-height: 1.4;
}
.tertiary-nav li a {
  color: #ababab;
  font-size: 1.3em;
}

.butn, .complex-select {
  font-size: 1em;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border: 1px solid #80808059;
}

.orange {
  background: #e3a53b;
}

.butn:hover {
  text-decoration: none;
}

.control-bar {
  display: flex;
  flex-flow: row;
  align-self: flex-end;
}
.control-bar > div {
  margin: 0 10px;
}
.control-bar div:first-child {
  margin-left: 0;
}
.control-bar div:last-child {
  display: flex;
  align-self: flex-end;
}
.control-bar h3 {
  margin: 5px 0;
}

.placeInput .butn {
  border: none;
  border-bottom: 1px solid #80808059;
  color: black;
  font-weight: bold;
  padding-left: 0;
  padding-bottom: 5px;
  max-width: 95%;
  font-size: 2.6em;
}

.wheather > div {
  font-size: 4em;
}

.content-container {
  display: grid;
  grid-template-columns: 30% 45%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 40px 0;
  justify-content: flex-end;
  align-content: space-around;
  /* https://stackoverflow.com/a/8573101 */
}
.content-container h3 span {
  position: relative;
}
.content-container h3 span::before {
  /* text-decoration:underline; */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 2px solid #e3a53b;
}

.explore-container {
  display: flex;
  padding-right: 50px;
  font-size: 1em;
  flex-flow: wrap;
}
.explore-container img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.explore-container div {
  padding: 5px;
  display: flex;
  align-self: center;
}
.explore-container > div {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.45);
  min-width: 200px;
}
.explore-container > div:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .content-container {
    grid-template-columns: 40% 40% !important;
  }

  .control-bar div {
    margin-left: 0;
  }

  .control-bar {
    flex-flow: wrap;
  }

  .sideDrawer {
    font-size: 10px;
    grid-template-columns: 5% 50% 40% 5%;
  }
  .sideDrawer .primary-nav, .sideDrawer .secondary-nav {
    padding-top: 70px;
  }

  .video-part, .content-container {
    font-size: 13px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content-container {
    grid-template-columns: 30vw 50vw !important;
  }
}
@media screen and (min-width: 1025px) {
  body {
    font-style: 20px;
  }

  .primary-nav, .secondary-nav {
    padding-top: 170px;
  }
}
@media screen and (max-height: 900px) {
  .sideDrawer {
    font-size: 11px;
  }

  .primary-nav, .secondary-nav {
    padding-top: 70px !important;
  }
}
@media screen and (min-height: 901px) {
  body, .sideDrawer {
    font-size: 25px;
  }

  .primary-nav, .secondary-nav {
    padding-top: 170px !important;
  }
}

/*# sourceMappingURL=style.css.map */
